<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./css/loginregister.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>Document</title>
</head>

<body>
    <!-- LOGIN REGISTER PAGE -->
    <div id="login-register-page">
        <div>
            <img src="" alt="">
        </div>
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup"><span>or</span>Create Account</h2>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="Name" />
                    <input type="email" class="input" placeholder="Email" />
                    <input type="password" class="input" placeholder="Password" />
                </div>
                <button class="submit-btn">Sign up</button>
            </div>
            <div class="login slide-up">
                <div class="center">
                    <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                    <div class="form-holder">
                        <input type="email" class="input" placeholder="Email" />
                        <input type="password" class="input" placeholder="Password" />
                    </div>
                    <button class="submit-btn">Log in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN REGISTER PAGE -->

    <!-- NAVBAR -->
    <div id="navbar" style="background-color: #e3b04b;">
        <div class="ui secondary  menu">
            <a class="active item">
                <img src="https://images-wixmp-fe53c9ff592a4da924211f23.wixmp.com/esh/icon_defaults/noun_366074.svg"
                    style="width:40px; ">
            </a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item">
                    <button class="ui secondary button">
                        <i class="icon user"></i>
                        Sign up
                    </button>
                </a>
                <a class="ui item">
                    <button class="ui secondary button">
                        <i class="sign-in icon"></i>
                        Log in
                    </button>
                </a>
                <a class="ui item">
                    <button class="ui secondary button">
                        <i class="sign-out icon"></i>
                        Logout
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- END NAVBAR -->

    <!-- MAIN REGISTER PAGE -->
    <div id="main-page">
        <div class="ui equal width center aligned padded grid">

            <!-- HOME -->
            <div class="home">
                <div class="logo">
                    <img src="./image/logolandscapewhite.png" alt="">
                </div>
                <div class="welcome">
                    <div style="text-align: left; display: inline;">
                        <h1 style="margin-bottom: 0;"> Please, This is not instagram ! <br>
                            this's Your daily platform to "panjat sosial".
                            The easiest way to share your life
                            <br>
                            Make it fun !</h1>
                        <br>
                        <div class="ui yellow buttons">
                            <button class="ui button">
                                <i class="plus icon"></i>
                                upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <!-- END HOME -->

            <div class="row">
                <!-- TOP THREE POPULAR -->
                <div class=" column">
                    <div class="popular">
                        <!-- ==================== -->
                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.comhttps://semantic-ui.com/images/avatar/small/jenny.jpg">
                                Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>
                        </div>
                        <!-- ==================== -->

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.comhttps://semantic-ui.com/images/avatar/small/jenny.jpg">
                                Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>
                        </div>
                        <!-- ==================== -->

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.comhttps://semantic-ui.com/images/avatar/small/jenny.jpg">
                                Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>
                        </div>
                        <!-- ==================== -->
                    </div>
                </div>
                <!-- ENDTOP THREE POPULAR -->



                <!-- POST -->
                <div id="post">
                    <section class="gridphoto">
                        <!-- ========================== -->

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.comhttps://semantic-ui.com/images/avatar/small/jenny.jpg">
                                Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>
                        <!-- ========================== -->

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">14h</div>
                                <img class="ui avatar image"
                                    src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> Elliot
                            </div>
                            <div class="image">
                                <img src="./image/logo2.png">
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class="heart outline like icon"></i>
                                    17 likes
                                </span>
                                <i class="comment icon"></i>
                                3 comments
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input type="text" placeholder="Add Comment...">
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <!-- END POST -->
            </div>
        </div>
    </div>
    </div>
    <!-- END MAIN REGISTER PAGE -->

    <!-- COMMENT PAGE -->
    <div id="comment-page">
        <!-- image -->
        <div class="containPostComment">
            <div class="ui yellow card" style="width: 600px;">
                <div class="content">
                    <a class="header" href="#">Steve Jobes</a>
                    <div class="meta">
                        <a>Last Seen 2 days ago</a>
                    </div>
                </div>
                <a class="image" href="#">
                    <img src="./image/logolandscape.png">
                </a>

            </div>
        </div>
        <!-- end image -->
        <!-- =================== -->
        <div class="commentz">
            <!-- <div class="two column centered row"> -->
            <div class="column">
                <div class="ui small comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea rows="2"></textarea>
                        </div>
                        <div class="ui blue labeled submit icon button">
                            <i class="icon edit"></i> Add Reply
                        </div>
                    </form>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- ==================== -->

    </div>
    <!-- COMMENT PAGE -->
    <!-- ADD POST PAGE -->

    <div class="addpost">
        <br>
        <br>
        <div>
            <h1> Let's Influence the World!</h1>
        </div>
        <br>
        <div class="containAdd">
            <div class="addphoto">
                <img :src="imageLink" alt="" width="400">
            </div>
            <div class="formadd">
                <div class="ui small form">
                    <div class="fields">
                        <div class="field">
                            <label for="postTitle"><strong>Title</strong></label>
                            <input v-model="title" type="text" class="form-control" id="postTitle"
                                placeholder="post a title">
                        </div>
                        <div class="field">
                            <label for="postDescription"><strong>Description</strong></label>
                            <input v-model="description" type="text" class="form-control" id="postDescription"
                                placeholder="description">
                        </div>
                    </div>
                    <div class=" sixteen wide field">
                        <label for="articleTag"><strong>Tag</strong></label>
                        <select v-model="tag" class="ui search dropdown" id="articleTag">
                            <option value="" selected disabled hidden>choose tag here</option>
                            <option>sport</option>
                            <option>daily</option>
                            <option>politic</option>
                            <option>health</option>
                            <option>travel</option>
                            <option>automotive</option>
                            <option>electronic</option>
                            <option>hobbies</option>
                            <option>food</option>
                        </select>
                        </label>
                    </div>
                    <div class=" sixteen wide field">
                        <label for="addImage"><strong>Add Image</strong></label>
                        <input @change="previewFile" type="file" class="form-control-file ui secondary button"
                            id="addImage">
                        <br>
                        <br>
                        <button @click.prevent="uploadImage" class="ui small button">Upload Image</button>
                    </div>

                    <button class="ui secondary button" type="submit">Submit</button>
                </div>
            </div>
        </div>

    </div>
    <!-- END ADD POST -->


    <script src="./js/loginregister.js"></script>
</body>

</html>